
/*---------------- Universal reset ----------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

/*Override default gridlex padding --*/ 
[class*=col]  { padding: 0; }
[class*=grid] { margin: 0;  }


/*---------------- Utility styles ----------------*/
.padded-sm              { padding: 2.5%;                     }
.padded-md              { padding: 5%;                       }
.padded-lg              { padding: 10%;                      }
.padded-05              { padding: 0.5rem;                   }

.padded-1               { padding: 1rem;                     }
.padded-2               { padding: 2rem;                     }

.padded-t               { padding-top: 5%;                   }
.padded-t-1             { padding-top: 1rem;                 }
.padded-t-2             { padding-top: 2rem;                 }

.padded-b               { padding-bottom: 5%;                }
.padded-b-0             { padding-bottom: 0;                 }
.padded-b-1             { padding-bottom: 1rem;              }
.padded-b-2             { padding-bottom: 2rem;              }

.padded-l               { padding-left: 5%;                  }
.padded-r               { padding-right: 5%;                 }
.padded-l-0             { padding-left: 0;                   }
.padded-r-0             { padding-right: 0;                  }

.padded-0               { padding: 0;                        }

.margin-t               { margin-top: 5%;                    }
.margin-b               { margin-bottom: 5%;                 }
.margin-l               { margin-left: 5%;                   }
.margin-r               { margin-right: 5%;                  }

.margin-t-1             { margin-top: 1rem;                  }
.margin-b-1             { margin-bottom: 1rem;               }
.margin-l-1             { margin-left: 1rem;                 }
.margin-r-1             { margin-right: 1rem;                }

.margin-t-2             { margin-top: 2rem;                  }
.margin-b-2             { margin-bottom: 2rem;               }
.margin-l-2             { margin-left: 2rem;                 }
.margin-r-2             { margin-right: 2rem;                }

.margin-t-0             { margin-top: 0;                     }
.margin-b-0             { margin-bottom: 0;                  }
.margin-l-0             { margin-left: 0;                    }
.margin-r-0             { margin-right: 0;                   }

.margin-tb              { margin-top: 5%; margin-bottom: 5%; }
.margin-lr              { margin-left: 5%; margin-right: 5%; }

.tall-40                { min-height: 40vh;                  }
.tall-50                { min-height: 50vh;                  }
.tall-60                { min-height: 60vh;                  }
.tall-70                { min-height: 70vh;                  }
.tall-80                { min-height: 80vh;                  }
.tall-90                { min-height: 90vh;                  }
.tall-100               { min-height: 100vh;                 }

.bg-light               { background-color: lightgray;     }
.bg-very-light          { backgrounc-dolor: white;         }
.bg-dark                { background-color: grey;          }
.bg-featured            { background-color: #FFBE00;       }

.text-light             { color: white;                    }
.text-featured          { color: #FFBE00;                  }
.text-dark              { color: grey;                     }

.text-sm                { font-size: 1.5rem;                 }
.text-md                { font-size: 2rem;                   }
.text-lg                { font-size: 4.5rem;                 }
.text-xl                { font-size: 6rem;                   }
.text-xxl               { font-size: 8.5rem;                 }

.text-bold              { font-weight: bold;                 }
.text-tight             { line-height: 0.8;                  }

.left                   { text-align: left;                  }
.center                 { text-align: center;                }
.right                  { text-align: right;                 }

.font-weight-light      { font-weight: 200;                  }
.font-weight-normal     { font-weight: normal;               }
.font-weight-extra-bold { font-weight: 800;                  }

.uppercase              { text-transform: uppercase;         }

.capped-width-wide      { max-width: 1600px; margin: auto;   }
.capped-width           { max-width: 1200px; margin: auto;   }
.capped-width-narrow    { max-width: 1000px;  margin: auto;  }
.capped-width-v-narrow  { max-width: 800px;  margin: auto;   }

.flex-flip-alternate:nth-child(even) {
    flex-direction: row-reverse;
}

/*Aspect ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. -----*/
.landscape      { padding-bottom: 66% ;              }
.portrait-tall  { padding-bottom: 175%;              }
.portrait       { padding-bottom: 125%;              }
.square         { padding-bottom: 100%;              }

/*Background position -----*/
.bg-pos-t       { background-position: top;          }
.bg-pos-b       { background-position: bottom;       }
.bg-pos-l       { background-position: left;         }
.bg-pos-r       { background-position: right;        }

.bg-pos-t-l     { background-position: left top;     }
.bg-pos-b-r     { background-position: right bottom; }


/*---------------- Typography styles ----------------*/
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
    margin-bottom: 0;
}


/*---------------- Button styles ----------------*/
.button { 
    text-decoration: none;
    border: 2px solid;
    padding: 0.5rem 1rem;
    display: inline-block;
    font-weight: 400;
    color: white;
}


/*---------------- Background images ----------------*/
.bg-image {
    background-image: url('/images/sleep-co-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(240,240,240);
    background-position: center;
}


/*---------------- Contact form ----------------*/
form input,
form textarea {
  width: 100%;
  margin: 0.4rem 0;
  padding: 0.5rem;
  border: 2px solid var(--dark);
  background-color: white;
  color: var(--dark);
  outline: none;
  font-family: inherit;
  font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
  border-color: var(--green);
  background-color: white;
  color: black;
}

form label {
  color: var(--dark);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
} 

form .button {
  border: 2px solid var(--dark-rust);
  background-color: var(--rust);
  color: white;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  padding:  0.5rem 2rem;
  margin: 1rem 0rem;
  
} 

form .button:hover {
    border: 2px solid var(--rust);
    background-color: var(--dark-rust);
}


/*---------------- Hamburger menu styles ----------------*/
/*This is style for the menu --*/
.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 20;
    right: 0;
    color: green;
    opacity: 0.7;
    padding: 15%;
}

/*This is the links in the menu --*/
.mobile-menu a {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/*This is when you hovering the links in the menu --*/
.mobile-menu a:hover {
    color: blue;
}

/*This is the hamburger icon --*/
.hamburger-button {
    position: relative;
    z-index: 2;
    color: orange;
    cursor: pointer;
    margin-top: -1.8rem;
    right: 2rem;
    top: 1.1rem;
  }

/*This is the hamburger icon (to get the style for just this icon and not all of the site) --*/
.hamburger-button i {
    font-size: 2rem;
}

/*This is when you press the hamburger icon and it's active --*/
.hamburger-button.active {
    color: red;
}


/*---------------- Responsive video ----------------*/
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}


/*---------------- Media query styles ----------------*/
/* MD media query (64em / 1024px) */
/* Styles added here will apply at devices smaller than 1024px, or zoomed in equivalent */
@media(max-width:64em) {}

/* SM media query (48em / 768px) */ 
/* Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 
@media(max-width:48em) {}

/* XS media query (36em / 576px) */ 
/* Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 
@media(max-width: 36em) {}